.scale {
position: absolute;
top: 0px;
display: inline-block;
z-index: 15;
}
.scale span {
position: absolute;
left:10px;
top: 20px;
}

.indicator {
position: absolute;
top: 5px;
left: 10px;
z-index: 5;
}

.wholescale {
position: fixed;
}

